/* ======= General page formatting ======= */
body {
    /* Font family - sans-serif */
    font-family: Arial, Helvetica, sans-serif;
    /* Make page height = 100% of the veiw height */
    height: 100vh;
    /* Remove page margins */
    margin: 0;
}

/* ======= Header ======= */
header {
    /* Header background color */
    background-color: #1f2937;
    /* Adjust padding */
    padding: 0 150px;
    /* Make the header flexbox */
    display: flex;
    /* Center items vertically */
    align-items: center;
}

/* Header logo */
.header-logo {
    /* Logo font */
    font-size: 24px;
    color: #f9faf8;
}

/* Navigation bar */
.header-links {
    /* navigation bar font */
    font-size: 18px;
    color: #efe7eb;
    /* Remove underline from links */
    text-decoration: none;
}

.nav-bar {
    /* Remove bullet points from navigation bar */
    list-style-type: none;
    /* Make the navigation bar flexbox */
    display: flex;
    /* Create space between links */
    gap: 24px;
    /* push the navigation bar to the right */
    margin-left: auto;
}

/* ======= Hero Section ======= */
#hero {
    /* Hero section background color */
    background-color: #1f2937;
    /* Set padding */
    padding: 150px;
     /* Make flexbox */
     display: flex;
}

/* The left side of the hero section */
.hero-text {
    /* Make flexbox and change direction */
    display: flex;
    flex-direction: column;
}

/* Format hero main text */
.hero-main {
    /* Format font */
    font-size: 48px;
    /* From MDN
     * https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
     * Font weight equivalent to extra-bold is 800
     */
    font-weight: 800;
    color: #f9faf8;
    /* Remove default margin */
    margin: 0;
}

/* Format hero secondary text */
.hero-secondary {
    /* Format font */
    font-size: 18px;
    color: #e5e7eb;
}

.placeholder {
    /* Set colors */
    color: #f9faf8;
    background-color: #777;
    /* set dimentions */
    width:1000px;
    height: 200px;
    /* set margin */
    margin-left: 100px;
    /* Make flexbox */
    display: flex;
    /* Center text */
    justify-content: center;
    align-items: center;
}

/* This formatting applies for both buttons on the page */
button {
    /* Set font */
    font-weight: 800;
    font-size: 18px;
    /* Set the width and padding */
    width: 120px;
    padding: 5px 20px;
    /* Set colors */
    color:#e5e7eb;
    background-color: #3882f6;
    border-color: #3882f6;
    /* Make the edges rounded */
    border-radius: 8px;
}

/* ======= Random Information Section ======= */
/* Set padding for info section */
#info {
    padding: 50px 150px 250px 150px;
}
/* Format heading */

#info>h2 {
    /* heading font */
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    /* Center text */
    text-align: center;
}

.image {
    /* Create image boxes */
    width: 150px;
    height: 150px;
    /* Set border formatting */
    border:  4px solid #3882f6;
    border-radius: 12px;
}

/* This is a container for all info items */
.random-info {
    /* Align info items horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Set padding and spaces between images */
    padding: 0 100px;
    gap: 50px;
}

/* This is a container for both the image and the text */
.info-container {
    /* Format and center text */
    text-align: center;
    font-size: 16px;
    /* Make flexbox and center info items*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ======= Inspiration Quote / Testimonial Section ======= */
#quote {
    /* Set background color */
    background-color: #e5e7eb;
    /* Format padding */
    padding: 100px 250px 350px 250px;
}

blockquote {
    /* Format font */
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

/* Format author text */
.author {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
    padding-right: 50px;
}
/* ======= Call to Action - Sign up Section ======= */
#action {
    padding: 100px 150px 350px 150px;
}

/* Specific formatting for the blue area */
.call-to-action {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 50px 100px;
    border-radius: 12px;
    /* Make flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Call to action's main text */
.action-main {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
}

.action-secondary {
    font-size: 18px;
    margin: 0;
}
#action button {
    border: 2px solid #f9faf8;
    margin-left: auto;
}
/* ======= Footer ======= */